body{
  background-color:aqua;
}

.App{
  background-color: #F8BDEB;
  width: 500px;
  min-height: 100vh;
  border-radius: 10%;
  margin: 20px auto;
}
.photo{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  font-family: 'Ubuntu', sans-serif;
  color: #072541;
}
.crossed{
  text-decoration: line-through 2px red;
  background-color: #FBECB2;
}
ul,li{
  font-family: 'Ubuntu', sans-serif;
  list-style-type: none;
  padding: 10px;
  margin: 0;
  font-size: 15px;
  color: #072541;
}
.container{
  display: flex;
  justify-content: center;
}
.add{
  margin-top: 5px;
  background: #5272F2;
  padding: 10px;
  width: 70%;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  color: #072541;

}
.delete{
  margin-top: 5px;
  background: #DA0C81;
  padding: 10px;
  width: 70%;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  color: #072541;
}
input{
  flex: 1;
  margin-top: 10px;
  margin: 10px;
  background: #FBECB2;
  font-family: 'Ubuntu', sans-serif;
  padding: 10px;

}